<app-header></app-header>
<div class="portfolio-container">
  <div class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <p>Desarrollador Web en XYZ</p>
        </div>
        <div class="col-md-4">
          <p>Desarrollador Web en XYZ</p>
        </div>
        <div class="col-md-4">
          <p>Desarrollador Web en XYZ</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>Experiencia:</p>
        </div>
        <div class="col-md-4">
          <p>Desarrollador Web en XYZ</p>
        </div>
        <div class="col-md-4">
          <p>2020 - 2023</p>
        </div>
      </div>
    </div>
      
  </div>
  
  <div class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <p>Experiencia:</p>
        </div>
        <div class="col-md-4">
          <p>Desarrollador Web en XYZ</p>
        </div>
        <div class="col-md-4">
          <p>2020 - 2023</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>Experiencia:</p>
        </div>
        <div class="col-md-4">
          <p>Desarrollador Web en XYZ</p>
        </div>
        <div class="col-md-4">
          <p>2020 - 2023</p>
        </div>
      </div>
      </div>
  </div>
</div>